<!--admin.tmpl-->
<!--t3boardtest-->
<h2>###L_ADMINISTRATION_VIEW###</h2>
<h3>###L_CREATE###...</h3>
###CREATE_CALENDAR_LINK###<br />
###CREATE_CATEGORY_LINK###<br />
###CREATE_ORGANIZER_LINK###<br />
###CREATE_LOCATION_LINK###<br />
###CREATE_EVENT_LINK###<br /><br />

<h3>###L_EDIT###...</h3>
###L_CALENDAR_LABEL###: <form action="###EDIT_CALENDAR_URL###" method="post">###EDIT_CALENDAR_PARAMETER###<select onchange="javascript:submit();" name="tx_cal_controller[uid]" size="1">###EDIT_CALENDAR_OPTIONS###</select></form><br />
###L_CATEGORY_LABEL###: <form action="###EDIT_CATEGORY_URL###" method="post">###EDIT_CATEGORY_PARAMETER###<select onchange="javascript:submit();" name="tx_cal_controller[uid]" size="1">###EDIT_CATEGORY_OPTIONS###</select></form><br />
###L_EVENT_LABEL###: <form action="###EDIT_EVENT_URL###" method="post">###EDIT_EVENT_PARAMETER###<select onchange="javascript:submit();" name="tx_cal_controller[uid]" size="1">###EDIT_EVENT_OPTIONS###</select></form><br />

<h3>###L_DELETE###...</h3>
###L_CALENDAR_LABEL###: <form action="###DELETE_CALENDAR_URL###" method="post">###DELETE_CALENDAR_PARAMETER###<select onchange="javascript:submit();" name="tx_cal_controller[uid]" size="1">###DELETE_CALENDAR_OPTIONS###</select></form><br />
###L_CATEGORY_LABEL###: <form action="###DELETE_CATEGORY_URL###" method="post">###DELETE_CATEGORY_PARAMETER###<select onchange="javascript:submit();" name="tx_cal_controller[uid]" size="1">###DELETE_CATEGORY_OPTIONS###</select></form><br />
###L_EVENT_LABEL###: <form action="###DELETE_EVENT_URL###" method="post">###DELETE_EVENT_PARAMETER###<select onchange="javascript:submit();" name="tx_cal_controller[uid]" size="1">###DELETE_EVENT_OPTIONS###</select></form>
###BACKLINK###
<!--/admin.tmpl-->