<!--confirm_location.tmpl-->
<form name="tx_cal_controller" method="post" action="###ACTION_URL###">
<input type="hidden" value="###TYPE###" name="tx_cal_controller[type]" >
<table><!--
	<tr>
		<td>###L_HIDDEN###:</td><td>###HIDDEN###<input type="hidden" name="tx_cal_controller[hidden]" value="###HIDDEN###"></td>
	</tr>
	<tr>
		<td>###L_START###:</td><td>###START###<input type="hidden" value="###START###" name="tx_cal_controller[start]" ></td>
	</tr>
	<tr>
		<td>###L_END###:</td><td>###END###<input type="hidden" value="###END###" name="tx_cal_controller[end]" ></td>
	</tr>-->
	<tr>
		<td>###L_NAME###:</td><td>###NAME###<input type="hidden" value="###NAME###" name="tx_cal_controller[name]" ></td>
	</tr>
	<tr>
		<td>###L_DESCRIPTION###:</td><td>###DESCRIPTION###<input type="hidden" value="###DESCRIPTION###" name="tx_cal_controller[description]" ></td>
	</tr>
	<tr>
		<td>###L_STREET###:</td><td>###STREET###<input type="hidden" value="###STREET###" name="tx_cal_controller[street]" ></td>
	</tr>
	<tr>
		<td>###L_ZIP###:</td><td>###ZIP###<input type="hidden" value="###ZIP###" name="tx_cal_controller[zip]" ></td>
	</tr>
	<tr>
		<td>###L_CITY###:</td><td>###CITY###<input type="hidden" value="###CITY###" name="tx_cal_controller[city]" ></td>
	</tr>
	<tr>
		<td>###L_PHONE###:</td><td>###PHONE###<input type="hidden" value="###PHONE###" name="tx_cal_controller[phone]" ></td>
	</tr>
	<tr>
		<td>###L_EMAIL###:</td><td>###EMAIL###<input type="hidden" value="###EMAIL###" name="tx_cal_controller[email]" ></td>
	</tr>
	<tr>
		<td>###L_IMAGE###:</td><td><img src="###IMAGE_URL###" /><input type="hidden" value="###IMAGE_URL###" name="tx_cal_controller[image]" ></td>
	</tr>
	<tr>
		<td>###L_LINK###:</td><td>###LINK###<input type="hidden" value="###LINK###" name="tx_cal_controller[link" ></td>
	</tr>
</table>
<input type="button" value="###L_CANCEL###" /><input type="submit" value="###L_SAVE###" />
</form>