<!--confirm_event.tmpl-->
<!-- ###FORM_START### start-->
<h1>###L_CONFIRM_EVENT###</h1>
<form name="tx_cal_controller" method="post" action="###ACTION_URL###">
	<fieldset class="noborder">
		<input type="hidden" name="tx_cal_controller[type]" value="###TYPE###" />
		<input type="hidden" name="tx_cal_controller[uid]" value="###UID###" />
		<input type="hidden" name="tx_cal_controller[view]" value="###VIEW###" />
		<input type="hidden" name="tx_cal_controller[lastview]" value="###LASTVIEW###" />
		<input type="hidden" name="tx_cal_controller[option]" value="###OPTION###" />
		<input type="hidden" name="tx_cal_controller[calendar]" value="###CALENDAR_ID###" />

		<!-- ###FORM_START### end-->
			###HIDDEN###
			###CALENDAR###
			###CATEGORY###
			###ALLDAY###
			###STARTDATE###
			###STARTTIME###
			###ENDDATE###
			###ENDTIME###
			###TITLE###
			###CAL_ORGANIZER###
			###ORGANIZER###
			###CAL_LOCATION###
			###LOCATION###
			###TEASER###
			###DESCRIPTION###
			###IMAGE###
			###FREQUENCY###
			###BY_DAY###
			###BY_MONTHDAY###
			###BY_MONTH###
			###UNTIL###
			###COUNT###
			###INTERVAL###
			###NOTIFY###
			###EXCEPTION###
		<!-- ###FORM_END### start-->

		<input type="button" value="###L_CANCEL###" onclick="location.href='###BACK_LINK###'; return false;" />
		<input type="submit" value="###L_SUBMIT###" />
	</fieldset>
</form>
</fieldset>
<!-- ###FORM_END### end-->
<!--/confirm_event.tmpl-->