<!--confirm_calendar.tmpl-->
<!-- ###FORM_START### begin-->
<h1>###L_CONFIRM_CALENDAR###</h1>
<form name="tx_cal_controller" method="post" action="###ACTION_URL###">
	<fieldset class="noborder">
		<input type="hidden" name="tx_cal_controller[type]" value="###TYPE###" />
		<input type="hidden" name="tx_cal_controller[uid]" value="###UID###" />

		<!-- ###FORM_START### end-->
			###HIDDEN###
			###CALENDARTYPE###
			###EXTURL###
			###ICS_FILE###
			###REFRESH###
			###TITLE###
			###OWNER###
			###ACTIVATE_FREEANDBUSY###
			###FREEANDBUSYUSER###
		<!-- ###FORM_END### start-->

		<input type="button" value="###L_CANCEL###" onclick="document.forms.tx_cal_controller.action='###BACK_LINK###'; document.forms.tx_cal_controller.submit();" />
		<input type="submit" value="###L_SAVE###" />
	</fieldset>
</form>
<!-- ###FORM_END### end-->
<!--/confirm_calendar.tmpl-->