<!--confirm_calendar.tmpl-->
<!-- ###FORM_START### begin-->
<h1>###L_CONFIRM_CALENDAR###</h1>
<form name="tx_cal_controller" method="post" action="###ACTION_URL###">
<input type="hidden" value="save_calendar" name="tx_cal_controller[view]" >
<input type="hidden" name="tx_cal_controller[type]" value="###TYPE###" />
<input type="hidden" value="###UID###" name="tx_cal_controller[uid]" >
<table>
<!-- ###FORM_START### end-->
<!-- ###FORM_HIDDEN### begin-->
	<tr>
		<td>###L_HIDDEN###:</td><td>###HIDDEN###<input type="hidden" name="tx_cal_controller[hidden]" value="###HIDDEN###" /></td>
	</tr>
<!-- ###FORM_HIDDEN### end-->
<!-- ###FORM_TITLE### begin-->
	<tr>
		<td>###L_TITLE###:</td><td>###TITLE###<input type="hidden" name="tx_cal_controller[title]" value="###TITLE###" /></td>
	</tr>
<!-- ###FORM_TITLE### end-->
<!-- ###FORM_FEUSER### begin-->
	<tr>
		<td>###L_FE_USER###:</td><td>###FE_USER_NAME###<input type="hidden" name="tx_cal_controller[fe_user_id]" value="###FE_USER_ID###" /></td>
	</tr>
<!-- ###FORM_FEUSER### end-->
<!-- ###FORM_END### begin-->
</table>
<input type="button" value="###L_CANCEL###" /><input type="submit" value="###L_SUBMIT###" />
</form>
<!-- ###FORM_END### end-->
<!--/confirm_calendar.tmpl-->