<form name="tx_cal_controller" method="post" action="###ACTION_URL###">
<input type="hidden" value="###TYPE###" name="type" >
<table><!--
	<tr>
		<td>###L_HIDDEN###:</td><td>###HIDDEN###<input type="hidden" name="hidden" value="###HIDDEN###"></td>
	</tr>
	<tr>
		<td>###L_START###:</td><td>###START###<input type="hidden" value="###START###" name="start" ></td>
	</tr>
	<tr>
		<td>###L_END###:</td><td>###END###<input type="hidden" value="###END###" name="end" ></td>
	</tr>-->
	<tr>
		<td>###L_NAME###:</td><td>###NAME###<input type="hidden" value="###NAME###" name="name" ></td>
	</tr>
	<tr>
		<td>###L_DESCRIPTION###:</td><td>###DESCRIPTION###<input type="hidden" value="###DESCRIPTION###" name="description" ></td>
	</tr>
	<tr>
		<td>###L_STREET###:</td><td>###STREET###<input type="hidden" value="###STREET###" name="street" ></td>
	</tr>
	<tr>
		<td>###L_ZIP###:</td><td>###ZIP###<input type="hidden" value="###ZIP###" name="zip" ></td>
	</tr>
	<tr>
		<td>###L_CITY###:</td><td>###CITY###<input type="hidden" value="###CITY###" name="city" ></td>
	</tr>
	<tr>
		<td>###L_PHONE###:</td><td>###PHONE###<input type="hidden" value="###PHONE###" name="phone" ></td>
	</tr>
	<tr>
		<td>###L_EMAIL###:</td><td>###EMAIL###<input type="hidden" value="###EMAIL###" name="email" ></td>
	</tr>
	<tr>
		<td>###L_IMAGE###:</td><td><img src="###IMAGE_URL###" /><input type="hidden" value="###IMAGE_URL###" name="image" ></td>
	</tr>
	<tr>
		<td>###L_LINK###:</td><td>###LINK###<input type="hidden" value="###LINK###" name="link" ></td>
	</tr>
</table>
<input type="button" value="###L_CANCEL###" /><input type="submit" value="###L_SAVE###" />
</form>