<form name="tx_cal_controller" method="post" action="###ACTION_URL###">
<input type="hidden" value="###TYPE###" name="type" >
<table>
	<tr>
		<td>###L_HIDDEN###:</td><td><input type="checkbox" ###HIDDEN### name="hidden" ></td>
	</tr><!--
	<tr>
		<td>###L_START###:</td><td><input type="text" value="###START###" name="start" ></td>
	</tr>
	<tr>
		<td>###L_END###:</td><td><input type="text" value="###END###" name="end" ></td>
	</tr>-->
	<tr>
		<td>###L_NAME###:</td><td><input type="text" value="###NAME###" name="name" ></td>
	</tr>
	<tr>
		<td>###L_DESCRIPTION###:</td><td><input type="text" value="###DESCRIPTION###" name="description" ></td>
	</tr>
	<tr>
		<td>###L_STREET###:</td><td><input type="text" value="###STREET###" name="street" ></td>
	</tr>
	<tr>
		<td>###L_ZIP###:</td><td><input type="text" value="###ZIP###" name="zip" ></td>
	</tr>
	<tr>
		<td>###L_CITY###:</td><td><input type="text" value="###CITY###" name="city" ></td>
	</tr>
	<tr>
		<td>###L_PHONE###:</td><td><input type="text" value="###PHONE###" name="phone" ></td>
	</tr>
	<tr>
		<td>###L_EMAIL###:</td><td><input type="text" value="###EMAIL###" name="email" ></td>
	</tr>
	<tr>
		<td>###L_IMAGE###:</td><td><input type="text" value="###IMAGE_URL###" name="image" ></td>
	</tr>
	<tr>
		<td>###L_LINK###:</td><td><input type="text" value="###LINK###" name="link" ></td>
	</tr>
</table>
<input type="button" value="###L_CANCEL###" /><input type="submit" value="###L_SUBMIT###" />
</form>