<!--create_location.tmpl-->
<form name="tx_cal_controller" method="post" action="###ACTION_URL###">
<input type="hidden" value="###TYPE###" name="tx_cal_controller[type]" >
<table>
	<tr>
		<td>###L_HIDDEN###:</td><td><input type="checkbox" ###HIDDEN### name="tx_cal_controller[hidden]" ></td>
	</tr><!--
	<tr>
		<td>###L_START###:</td><td><input type="text" value="###START###" name="tx_cal_controller[start]" ></td>
	</tr>
	<tr>
		<td>###L_END###:</td><td><input type="text" value="###END###" name="tx_cal_controller[end]" ></td>
	</tr>-->
	<tr>
		<td>###L_NAME###:</td><td><input type="text" value="###NAME###" name="tx_cal_controller[name]" ></td>
	</tr>
	<tr>
		<td>###L_DESCRIPTION###:</td><td><input type="text" value="###DESCRIPTION###" name="tx_cal_controller[description]" ></td>
	</tr>
	<tr>
		<td>###L_STREET###:</td><td><input type="text" value="###STREET###" name="tx_cal_controller[street]" ></td>
	</tr>
	<tr>
		<td>###L_ZIP###:</td><td><input type="text" value="###ZIP###" name="tx_cal_controller[zip]" ></td>
	</tr>
	<tr>
		<td>###L_CITY###:</td><td><input type="text" value="###CITY###" name="tx_cal_controller[city]" ></td>
	</tr>
	<tr>
		<td>###L_PHONE###:</td><td><input type="text" value="###PHONE###" name="tx_cal_controller[phone]" ></td>
	</tr>
	<tr>
		<td>###L_EMAIL###:</td><td><input type="text" value="###EMAIL###" name="tx_cal_controller[email]" ></td>
	</tr>
	<tr>
		<td>###L_IMAGE###:</td><td><input type="text" value="###IMAGE_URL###" name="tx_cal_controller[image]" ></td>
	</tr>
	<tr>
		<td>###L_LINK###:</td><td><input type="text" value="###LINK###" name="tx_cal_controller[link]" ></td>
	</tr>
</table>
<input type="button" value="###L_CANCEL###" /><input type="submit" value="###L_SUBMIT###" />
</form>
<!--/create_location.tmpl-->