<!--create_category.tmpl-->
<!-- ###FORM_START### begin-->
<h1>###L_CREATE_CATEGORY###</h1>
<form name="tx_cal_controller" method="post" action="###ACTION_URL###">
<input type="hidden" value="confirm_category" name="tx_cal_controller[view]" >
<input type="hidden" value="###TYPE###" name="tx_cal_controller[type]" >
<input type="hidden" value="###UID###" name="tx_cal_controller[uid]" >
<table>
<!-- ###FORM_START### end-->
<!-- ###FORM_HIDDEN### begin-->
	<tr>
		<td>###L_HIDDEN###:</td><td><input type="checkbox" ###HIDDEN### name="tx_cal_controller[hidden]" ></td>
	</tr>
<!-- ###FORM_HIDDEN### end-->
<!-- ###FORM_TITLE### begin-->
	<tr>
		<td>###L_TITLE###:</td><td><input type="text" value="###TITLE###" name="tx_cal_controller[title]" ></td>
	</tr>
<!-- ###FORM_TITLE### end-->
<!-- ###FORM_HEADERSTYLE### begin-->
	<tr>
		<td>###L_HEADERSTYLE###:</td><td><input type="text" value="###HEADERSTYLE###" name="tx_cal_controller[headerstyle]" ></td>
	</tr>
<!-- ###FORM_HEADERSTYLE### end-->
<!-- ###FORM_BODYSTYLE### begin-->
	<tr>
		<td>###L_BODYSTYLE###:</td><td><input type="text" value="###BODYSTYLE###" name="tx_cal_controller[bodystyle]" ></td>
	</tr>
<!-- ###FORM_BODYSTYLE### end-->
<!-- ###FORM_CALENDAR### begin-->
	<tr>
		<td>###L_CALENDAR###:</td><td><select name="tx_cal_controller[calendar_id]" size="1">###CALENDAR_IDS###"</select ></td>
	</tr>
<!-- ###FORM_CALENDAR### end-->
<!-- ###FORM_END### begin-->
</table>
<input type="button" value="###L_CANCEL###" /><input type="submit" value="###L_SUBMIT###" />
</form>
<!-- ###FORM_END### end-->
<!--/create_category.tmpl-->