<!-- delete_event.tmpl -->
<!-- ###FORM_START### start-->
<h1>###L_DELETE_EVENT###</h1>
<form name="tx_cal_controller" id="tx_cal_controller" method="post" action="###ACTION_URL###">
	<fieldset class="noborder">
		<input type="hidden" name="tx_cal_controller[type]" value="###TYPE###" />
		<input type="hidden" name="tx_cal_controller[uid]"  value="###UID###" />
		<input type="hidden" name="tx_cal_controller[view]" value="###VIEW###" />
		<input type="hidden" name="tx_cal_controller[lastview]" value="###LASTVIEW###" />

		<!-- ###FORM_START### end-->
			###CALENDAR_ID###
			###CATEGORY###
			###ALLDAY###
			###STARTDATE###
			###STARTTIME###
			###ENDDATE###
			###ENDTIME###
			###TITLE###
			###CAL_ORGANIZER###
			###ORGANIZER###
			###CAL_LOCATION###
			###LOCATION###
			###TEASER###
			###DESCRIPTION###
			###IMAGE###
			###ATTACHMENT###
			###FREQUENCY###
			###BY_DAY###
			###BY_MONTHDAY###
			###BY_MONTH###
			###UNTIL###
			###COUNT###
			###INTERVAL###
			###RDATE_TYPE### ###RDATE###
			###NOTIFY###
			###EXCEPTION###
		<!-- ###FORM_END### start-->

		<input type="button" value="###L_CANCEL###" onclick="location.href='###BACK_LINK###'; return false;" />
		<input type="submit" value="###L_DELETE###" />
	</fieldset>
</form>
<!-- ###FORM_END### end-->

<!-- ###CREATE_EXCEPTION### start -->
<form name="tx_cal_controller" method="post" action="###ACTION_EXCEPTION_URL###">
	<input type="hidden" name="tx_cal_controller[type]" value="###TYPE###" />
	<input type="hidden" name="tx_cal_controller[lastview]" value="###LASTVIEW###" />
	<input type="hidden" name="tx_cal_controller[event_uid]" value="###EVENT_UID###" />
	<input type="hidden" name="tx_cal_controller[exception_start_day]" value="###EVENT_START_DAY###" />
	<input type="hidden" name="tx_cal_controller[exception_start_time]" value="###EVENT_START_TIME###" />
	<input type="hidden" name="tx_cal_controller[exception_end_day]" value="###EVENT_END_DAY###" />
	<input type="hidden" name="tx_cal_controller[exception_end_time]" value="###EVENT_END_TIME###" />
	
	###L_TITLE###:<input type="text" name="tx_cal_controller[exception_title]" value="" />
	<input type="submit" value="###L_CREATE_EXCEPTION###" />
</form>
<!-- ###CREATE_EXCEPTION### end -->
<!-- /delete_event.tmpl -->