<!--delete_location.tmpl-->
<!-- ###FORM_START### begin-->
<h1>###L_DELETE_LOCATION###</h1>
<form name="tx_cal_controller" method="post" action="###ACTION_URL###">
	<fieldset class="noborder">
		<input type="hidden" name="tx_cal_controller[type]" value="###TYPE###"  />
		
		<!-- ###FORM_START### end-->
			###HIDDEN###
			###NAME###
			###DESCRIPTION###
			###STREET###
			###ZIP###
			###CITY###
			###COUNTRYZONE###
			###COUNTRY###
			###PHONE###
			###EMAIL###
			###IMAGE###
			###LINK###
		<!-- ###FORM_END### start-->
		
		<input type="button" value="###L_CANCEL###" onclick="location.href='###BACK_LINK###'; return false;" />
		<input type="submit" value="###L_SUBMIT###" onclick="return checkForm('tx_cal_controller_create_element');" />
	</fieldset>
</form>
<!-- ###FORM_END### end-->
<!--/delete_location.tmpl-->