<!--delete_location.tmpl-->
<h1>###L_DELETE_LOCATION###</h1>
<form name="tx_cal_controller" method="post" action="###ACTION_URL###">
	<fieldset class="noborder">
		<input type="hidden" name="tx_cal_controller[type]" value="###TYPE###"  />

		###NAME###
		###DESCRIPTION###
		###STREET###
		###ZIP###
		###CITY###
		###COUNTRYZONE###
		###COUNTRY###
		###PHONE###
		###LINK###
		###EMAIL###
		###IMAGE###
		###MAP###
		###SHARED###
		
		<input type="button" value="###L_CANCEL###" onclick="location.href='###BACK_LINK###'; return false;" />
		<input type="submit" value="###L_DELETE###" />
	</fieldset>
</form>
<!--/delete_location.tmpl-->