BEGIN:VCALENDAR
VERSION:2.0
PRODID:-//TYPO3/NONSGML Calendar Base (cal) V0.14.0//EN
METHOD:PUBLISH
<!--###EVENT###-->
BEGIN:VEVENT
UID:###UID###
###DTSTAMP###
###DTSTART_YEAR_MONTH_DAY_HOUR_MINUTE###
###DTEND_YEAR_MONTH_DAY_HOUR_MINUTE###
CATEGORIES;###CATEGORY###
SUMMARY;###SUMMARY###
DESCRIPTION;###DESCRIPTION###
LOCATION;###LOCATION###
###ATTACHMENT###
###RRULE###
###EXDATE###
###EXRULE###
END:VEVENT
<!--###EVENT###-->
END:VCALENDAR
