BEGIN:VCALENDAR
VERSION:2.0
PRODID:-//Mozilla.org/NONSGML Mozilla Calendar V1.0//EN
METHOD:PUBLISH
<!--###EVENT###-->
BEGIN:VEVENT
UID:###UID###
###DTSTART_YEAR_MONTH_DAY_HOUR_MINUTE###
CATEGORY:###CATEGORY###
SUMMARY:###SUMMARY###
DESCRIPTION:###DESCRIPTION###
LOCATION:###LOCATION###
DURATION:PT###DURATION_HOURS###H###DURATION_MINUTES###M
###RRULE###
###EXDATE###
###EXRULE###
END:VEVENT
<!--###EVENT###-->
END:VCALENDAR