<table width="100%" cellspacing="1" cellpadding="4" border="0">
	<!-- ###SHOWBOTTOMEVENTS### start -->
	<!-- ###SHOWBOTTOMEVENTS_ODD### start -->
	<tr align="left" valign="top">
		<td nowrap="nowrap" colspan="2">
			###EVENT_IMAGE###
		</td>
		<td width="170" nowrap="nowrap">
			###DAYLINK###<br />
			<span class="V9G">###START_TIME###</span>
		</td>
		<td>
			###EVENT_TEXT###<br /><span class="V9G">###CALNAME###</span>
		</td>
	</tr>
	<!-- ###SHOWBOTTOMEVENTS_ODD### end -->
	<!-- ###SHOWBOTTOMEVENTS_EVEN### start -->
	<tr align="left" valign="top">
		<td nowrap="nowrap" colspan="2" bgcolor="#EEEEEE">
			###EVENT_IMAGE###
		</td>
		<td width="170" nowrap="nowrap" bgcolor="#EEEEEE">
			###DAYLINK###<br />
			<span class="V9G">###START_TIME###</span>
		</td>
		<td bgcolor="#EEEEEE">
			###EVENT_TEXT###<br /><span class="V9G">###CALNAME###</span>
		</td>
	</tr>
	<!-- ###SHOWBOTTOMEVENTS_EVEN### end -->
	<!-- ###SHOWBOTTOMEVENTS### end -->
</table>