<!--list.tmpl-->
<table width="100%" cellspacing="1" cellpadding="4" border="0">
	<!-- ###SHOWBOTTOMEVENTS### start -->
	<!-- ###SHOWBOTTOMEVENTS_ODD### start -->
	<tr align="left" valign="top">
		<td nowrap="nowrap" colspan="2">
			###EVENT_IMAGE###
		</td>
		<td width="170" nowrap="nowrap">
			###STARTDATE### ###ENDDATE###<br />
			<span class="V9G">###STARTTIME### - ###ENDTIME###</span>
		</td>
		<td>
			<!-- ###EVENT_LINK### start-->###TITLE###<!-- ###EVENT_LINK### end--><br /><span class="V9G">###CATEGORY_LINK###</span>
		</td>
	</tr>
	<!-- ###SHOWBOTTOMEVENTS_ODD### end -->
	<!-- ###SHOWBOTTOMEVENTS_EVEN### start -->
	<tr align="left" valign="top">
		<td nowrap="nowrap" colspan="2" bgcolor="#EEEEEE">
			###EVENT_IMAGE###
		</td>
		<td width="170" nowrap="nowrap" bgcolor="#EEEEEE">
			###STARTDATE### ###ENDDATE###<br />
			<span class="V9G">###STARTTIME### - ###ENDTIME###</span>
		</td>
		<td bgcolor="#EEEEEE">
			<!-- ###EVENT_LINK### start-->###TITLE###<!-- ###EVENT_LINK### end--><br /><span class="V9G">###CATEGORY_LINK###</span>
		</td>
	</tr>
	<!-- ###SHOWBOTTOMEVENTS_EVEN### end -->
	<!-- ###SHOWBOTTOMEVENTS### end -->
</table>
###BACKLINK###
<!--/list.tmpl-->