<!--list.tmpl-->
<!-- ###LIST_DAY_WRAPPER### begin -->
	<dt><hr></dt>
    <dd> --- Event ---</dd>
<!-- ###LIST_DAY_WRAPPER### end -->

<!-- ###LIST_WEEK_WRAPPER### begin -->
	<dt><hr></dt>
    <dd> --- Week ---</dd>
<!-- ###LIST_WEEK_WRAPPER### end -->

<!-- ###LIST_MONTH_WRAPPER### begin -->
	<dt><hr></dt>
    <dd> --- Month ---</dd>
<!-- ###LIST_MONTH_WRAPPER### end -->


<!-- ###LIST_TEMPLATE### begin -->

<!-- ###PAGEBROWSER### begin -->
<p class="pagebrowser">
###PAGEOF###  ###PAGES###  ###PREVIOUS### ###NEXT###
</p>
<!-- ###PAGEBROWSER### end -->

<!-- ###POST_LIST_TEMPLATE### begin -->
<h1>###HEADING###</h1>
###FOUND###
<!-- ###POST_LIST_TEMPLATE### end -->
<dl>
	<!-- ###LIST### start -->
	<!-- ###LIST### end -->
</dl>

<!-- ###PAGEBROWSER### begin -->
<p class="pagebrowser">
###PAGEOF###  ###PAGES###  ###PREVIOUS### ###NEXT###
</p>
<!-- ###PAGEBROWSER### end -->

###CREATE_EVENT_LINK###
<!-- ###LIST_TEMPLATE### end -->
<!--/list.tmpl-->
