<!--month.tmpl-->
<center>
	<table width="735" border="0" cellspacing="0" cellpadding="0" class="calborder">
		<tr>
			<td align="center" valign="middle">
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr valign="top">
						<td align="left" class="title">
							<table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td width="10%" class="navback"><!-- ###PREV_MONTHLINK### start--><a class="psf" href="MONTH.php?cal=###CAL###&amp;getdate=###PREV_MONTH###"><!-- ###PREV_MONTHLINKTEXT### start--><img src="###IMG_PATH###/left_day.gif" alt="[Previous Month]" border="0" align="right" /><!-- ###PREV_MONTHLINKTEXT### end--></a><!-- ###PREV_MONTHLINK### end--></td>
									<td width="20%" class="title" nowrap="nowrap" valign="middle"><h1>###DISPLAY_DATE###</h1><span class="V9G">###CALENDAR_NAME###</span></td>
									<td width="70%" class="navback"><!-- ###NEXT_MONTHLINK### start--><a class="psf" href="MONTH.php?cal=###CAL###&amp;getdate=###NEXT_MONTH###"><!-- ###NEXT_MONTHLINKTEXT### start--><img src="###IMG_PATH###/right_day.gif" alt="[Next Month]" border="0" align="left" /><!-- ###NEXT_MONTHLINKTEXT### end--></a><!-- ###NEXT_MONTHLINK### end--></td>
								</tr>
							</table>
						</td>
						<td align="right" class="navback">	
							<div style="padding-top: 3px;">
								<table border="0" cellpadding="0" cellspacing="0">
										<tr valign="top">
											<!-- ###DAYVIEWLINK### start--><td><a class="psf" href="?view=day&amp;cal=###CAL###&amp;getdate=###GETDATE###"><!-- ###DAYVIEWLINKTEXT### start--><img src="###IMG_PATH###/day_on.gif" alt="###L_DAY###" border="0" /><!-- ###DAYVIEWLINKTEXT### end--></a></td><!-- ###DAYVIEWLINK### end-->
											<!-- ###WEEKVIEWLINK### start--><td><a class="psf" href="?view=week&amp;cal=###CAL###&amp;getdate=###GETDATE###"><!-- ###WEEKVIEWLINKTEXT### start--><img src="###IMG_PATH###/week_on.gif" alt="###L_WEEK###" border="0" /><!-- ###WEEKVIEWLINKTEXT### end--></a></td><!-- ###WEEKVIEWLINK### end-->
											<!-- ###MONTHVIEWLINK### start--><td><a class="psf" href="?view=month&amp;cal=###CAL###&amp;getdate=###GETDATE###"><!-- ###MONTHVIEWLINKTEXT### start--><img src="###IMG_PATH###/month_on.gif" alt="###L_MONTH###" border="0" /><!-- ###MONTHVIEWLINKTEXT### end--></a></td><!-- ###MONTHVIEWLINK### end-->
											<!-- ###YEARVIEWLINK### start--><td><a class="psf" href="?view=year&amp;cal=###CAL###&amp;getdate=###GETDATE###"><!-- ###YEARVIEWLINKTEXT### start--><img src="###IMG_PATH###/year_on.gif" alt="###L_YEAR###" border="0" /><!-- ###YEARVIEWLINKTEXT### end--></a></td><!-- ###YEARVIEWLINK### end-->
										</tr>
								</table>
							</div>
							<!-- ###SHOW_ADMINLINK### start -->
								<div style="width:100%,text-align:center">###ADMINLINK###</div>
							<!-- ###SHOW_ADMINLINK### end -->
						</td>
					</tr>  			
				</table>
			</td>
		</tr>	
	</table>
	###MONTH_LARGE|+0###
	<table width="735" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td class="tbll"><img src="###IMG_PATH###/spacer.gif" alt="" width="8" height="4" /></td>
			<td class="tblbot"><img src="###IMG_PATH###/spacer.gif" alt="" width="8" height="4" /></td>
			<td class="tblr"><img src="###IMG_PATH###/spacer.gif" alt="" width="8" height="4" /></td>
		</tr>
	</table>
	<br />
	###CALENDAR_NAV###
	<!-- ###SHOWBOTTOM### start -->
	<br />
	<table width="735" border="0" cellspacing="0" cellpadding="0" class="calborder">
		<tr>
			<td align="center" valign="middle" bgcolor="white">
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td align="right" width="40%" class="navback"><!-- ###PREV_MONTHLINK### start--><a class="psf" href="MONTH.php?cal=###CAL###&amp;getdate=###PREV_MONTH###"><!-- ###PREV_MONTHLINKTEXT### start--><img src="###IMG_PATH###/left_day.gif" alt="[Previous Month]" border="0" align="right" /><!-- ###PREV_MONTHLINKTEXT### end--></a><!-- ###PREV_MONTHLINK### end--></td>
						<td align="center" width="20%" class="title" nowrap="nowrap" valign="middle"><h1>###L_THIS_MONTHS###</h1></td>
						<td align="left" width="40%" class="navback"><!-- ###NEXT_MONTHLINK### start--><a class="psf" href="MONTH.php?cal=###CAL###&amp;getdate=###NEXT_MONTH###"><!-- ###NEXT_MONTHLINKTEXT### start--><img src="###IMG_PATH###/right_day.gif" alt="[Next Month]" border="0" align="left" /><!-- ###NEXT_MONTHLINKTEXT### end--></a><!-- ###NEXT_MONTHLINK### end--></td>
					</tr>
				</table>
			</td>
		</tr>	
		<tr>
			<td>
				<!-- ###SHOWBOTTOMEVENTS### start -->
				<!-- ###SHOWBOTTOMEVENTS### end -->
			</td>
		</tr>
	</table>
<!-- ###SHOW_ICSLINK### start -->
	<div style="width:100%,text-align:center">###ICSLINK###</div>
<!-- ###SHOW_ICSLINK### end -->
	<!-- ###SHOWBOTTOM### end -->
</center>
<!--/month.tmpl-->