<!--month_large.tmpl-->
<table width="735" border="0" cellspacing="1" cellpadding="2" class="monthback">
	<tr>
		<!-- ###LOOPWEEKDAY### start -->
		<td valign="top" width="105" height="12" class="dateback">
			<center class="V9BOLD">###WEEKDAY###</center>
		</td>
		<!-- ###LOOPWEEKDAY### end -->
	
	<!-- ###LOOPMONTHWEEKS### start -->
	<!-- ###LOOPMONTHWEEKS_DAYS### start -->
	<tr>
	<!-- ###LOOPMONTHWEEKS_DAYS### end -->
	<!-- ###LOOPWEEK_NUMS### start -->
	<td width="22"><span class="bold">###WEEKNUM###</span></td>
	<!-- ###LOOPWEEK_NUMS### end -->

		<!-- ###LOOPMONTHDAYS### start -->
		<!-- ###SWITCHMONTHDAY### start -->
		<td class="###STYLE###">
			<div align="right">
				###LINK###
			</div>
			###ALLDAY###
			###EVENT###	
		</td>
		<!-- ###SWITCHMONTHDAY### end -->
		<!-- ###LOOPMONTHDAYS### end -->
		<!-- ###LOOPMONTHDAYS_WEEKS### start -->
	</tr>
	<!-- ###LOOPMONTHDAYS_WEEKS### end -->
	<!-- ###LOOPMONTHWEEKS### end -->
</table>
<!--/month_large.tmpl-->