<table width="735" border="0" cellspacing="1" cellpadding="2" class="monthback">
	<tr>
		<!-- ###LOOPWEEKDAY### start -->
		<td valign="top" width="105" height="12" class="dateback">
			<center class="V9BOLD">###WEEKDAY###</center>
		</td>
		<!-- ###LOOPWEEKDAY### end -->
	</tr>
	<!-- ###LOOPMONTHWEEKS### start -->
	<!-- ###LOOPMONTHWEEKS_DAYS### start -->	
	<tr>
	<!-- ###LOOPMONTHWEEKS_DAYS### end -->	
		<!-- ###LOOPMONTHDAYS### start -->
		<!-- ###SWITCHNOTTHISMONTH### start -->
		<td class="monthoff">
			<div align="right">
				###LINK###
			</div>
			###ALLDAY###
			###EVENT###	
		</td>
		<!-- ###SWITCHNOTTHISMONTH### end -->
		<!-- ###SWITCHISTODAY### start -->
		<td class="monthon">
			<div align="right">
				###LINK###
			</div>
			###ALLDAY###
			###EVENT###	
		</td>
		<!-- ###SWITCHISTODAY### end -->
		<!-- ###SWITCHISMONTH### start -->
		<td class="monthreg">
			<div align="right">
				###LINK###
			</div>
			###ALLDAY###
			###EVENT###	
		</td>
		<!-- ###SWITCHISMONTH### end -->
		<!-- ###LOOPMONTHDAYS### end -->
		<!-- ###LOOPMONTHDAYS_WEEKS### start -->
	</tr>
	<!-- ###LOOPMONTHDAYS_WEEKS### end -->
	<!-- ###LOOPMONTHWEEKS### end -->
</table>