<!--month_small.tmpl-->
<table width="170" border="0" cellpadding="3" cellspacing="0" class="calborder">
	<tr>
		<td align="center" class="sideback"><div style="height:16px;"><b>###MONTH_TITLE###</b></div></td>
	</tr>
	<tr>
		<td align="center">
			<table border="0" cellspacing="0" cellpadding="0">
				<tr align="center">
					<!-- ###LOOPWEEKDAY### start -->
					<td width="22"><span class="bold">###WEEKDAY###</span></td>
					<!-- ###LOOPWEEKDAY### end -->
					<!-- ###LOOPMONTHWEEKS_DAYS### start -->
				<tr>
					<!-- ###LOOPMONTHWEEKS_DAYS### end -->
					<!-- ###LOOPWEEK_NUMS### start -->
					<td width="22"><span class="bold">###WEEKNUM###</span></td>
					<!-- ###LOOPWEEK_NUMS### end -->
					<!-- ###LOOPMONTHWEEKS### start -->
				<tr align="center">
					<!-- ###LOOPMONTHDAY### start -->
					<!-- ###SWITCHMONTHDAY### start -->
					<td class="###STYLE###">
						###LINK###
					</td>
					<!-- ###SWITCHMONTHDAY### end -->
					<!-- ###LOOPMONTHDAYS### end -->
					<!-- ###LOOPMONTHDAYS_WEEKS### start -->
				</tr>
				<!-- ###LOOPMONTHDAYS_WEEKS### end -->
				<!-- ###LOOPMONTHWEEKS### end -->
			</table>
			<img src="###IMG_PATH###/spacer.gif" width="1" height="3" alt=" " /><br />
		</td>
	</tr>
</table>
<!--/month_small.tmpl-->