<!-- ###HTML### begin -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<style type="text/css">
###CSS_STYLES###
</style>
<title>###LABEL_V_REGISTRATION_INITIATED_SUBJECT###</title>
<meta http-equiv="Content-Type" content="text/html; charset=###CHARSET###">
<meta name="generator" content="TYPO3 CMS">
</head>
<body>
An event has been deleted:
<br/>
###TITLE###
###STARTDATE###
###ENDDATE###
###STARTTIME###
###ENDTIME###
###ORGANIZER###
###LOCATION###
###DESCRIPTION###

<body>
</html>
<!-- ###HTML### end -->
<!-- ###PLAIN### start -->

An event has been deleted:

Title: ###TITLE###
Start: ###STARTDATE### ###STARTTIME###
End: ###ENDDATE### ###ENDTIME###
Description: ###DESCRIPTION###
Location: ###LOCATION###
Organizer: ###ORGANIZER###

<!-- ###PLAIN### end -->