<table>
<tr><td>###NAME_LABEL###</td><td>###NAME###</td></tr>
<tr><td>###DESCRIPTION_LABEL###</td><td>###DESCRIPTION###</td></tr>
<tr><td>###STREET_LABEL###</td><td>###STREET###</td></tr>
<tr><td>###ZIP_LABEL###</td><td>###ZIP###</td></tr>
<tr><td>###CITY_LABEL###</td><td>###CITY###</td></tr>
<tr><td>###PHONE_LABEL###</td><td>###PHONE###</td></tr>
<tr><td>###EMAIL_LABEL###</td><td>###EMAIL###</td></tr>
<tr><td>###LINK_LABEL###</td><td>###LINK###</td></tr>
<tr><td>###IMAGE_LABEL###</td><td><img src="###IMAGE_SRC###" alt="###NAME###" title="###NAME###"/></td></tr>
</table>
###BACKLINK###