<!--organizer_address.tmpl-->
<h1>###HEADING###</h1>
	###NAME###
	###DESCRIPTION###
	###STREET###
	###ZIP###
	###CITY###
	###PHONE###
	###MOBILEPHONE###
	###FAX###
	###LINK###
	###EMAIL###
	###MAP###
###EDIT_LINK###
<!--/organizer_address.tmpl-->