<!--search_all.tmpl-->
<h1>###HEADING###</h1>
<!-- ###SEARCHALLFORM### start -->
<div class = 'G10BOLD'>###L_SEARCH###:</div>
<form action="###SEARCH_ACTION_URL###" method="post">
	<input type="hidden" name="tx_cal_controller[getdate]" value="###GETDATE###" />
	<input type="text" size="15" name="tx_cal_controller[query]" value="###QUERY###" />
	<input type="image" src="###IMG_PATH###/search.gif" style="border-width:0px; height:19px; width:18px;" name="tx_cal_controller[submit]" title="###DOSEARCH_LABEL###" value="Search" />
</form>
<!-- ###SEARCHALLFORM### end -->

<div>###SEARCHEVENTRESULTS###</div>
<div>###SEARCHLOCATIONRESULTS###</div>
<div>###SEARCHORGANIZERRESULTS###</div>

<!-- ###LINKS### start -->
<div>###BACK_LINK###</div>
<div>###OTHERSEARCH###</div>
<!-- ###LINKS### end -->

<!--/search_all.tmpl-->