<!--search_all.tmpl-->
<h1>###HEADING###</h1>
<!-- ###SEARCHALLFORM### start -->
<div class = 'G10BOLD'>###L_SEARCH###:</div>
<form action="###SEARCH_ACTION_URL###" method="POST">
	<input type="hidden" name="tx_cal_controller[getdate]" value="###GETDATE###">
	<input type="text" size="15" name="tx_cal_controller[query]" value="###QUERY###">
	<INPUT type="image" src="###IMG_PATH###/search.gif" border=0 height="19" width="18" name="submit" value="Search">
</form>
<!-- ###SEARCHALLFORM### end -->
<div>###SEARCHEVENTRESULTS###</div>
<div>###SEARCHLOCATIONRESULTS###</div>
<div>###SEARCHORGANIZERRESULTS###</div>
<!-- ###LINKS### start -->
<br /><span>###BACKLINK###</span>
<br /><span>###OTHERSEARCH###</span>
<!-- ###LINKS### end -->
<!--/search_all.tmpl-->