<!--year.tmpl-->
<center>
	<table width="676" border="0" cellspacing="0" cellpadding="0" class="calborder">
		<tr>
			<td align="center" valign="middle" bgcolor="white">
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td align="left" width="120" class="navback">
							&nbsp;
						</td>
						<td class="navback">
							<table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td align="right" width="45%" class="navback">
										<!-- ###PREV_YEARLINK### start--><a class="psf" href="year.php?cal=###CAL###&amp;getdate=###PREV_YEAR###"><!-- ###PREV_YEARLINKTEXT### start--><img src="###IMG_PATH###/left_day.gif" alt="[Previous Year]" border="0" align="right" /><!-- ###PREV_YEARLINKTEXT### end--></a><!-- ###PREV_YEARLINK### end-->
									</td>
									<td align="center" width="10%" class="title" nowrap="nowrap" valign="middle">
										<h1>###THIS_YEAR###</h1>
									</td>
									<td align="left" width="45%" class="navback">
										<!-- ###NEXT_YEARLINK### start--><a class="psf" href="year.php?cal=###CAL###&amp;getdate=###PREV_YEAR###"><!-- ###NEXT_YEARLINKTEXT### start--><img src="###IMG_PATH###/right_day.gif" alt="[Next Year]" border="0" align="left" /><!-- ###NEXT_YEARLINKTEXT### end--></a><!-- ###NEXT_YEARLINK### end-->
									</td>
								</tr>
							</table>
						</td>
						<td align="right" width="120" class="navback">
							<table width="120" border="0" cellpadding="0" cellspacing="0">
								<tr>
											<!-- ###DAYVIEWLINK### start--><td><a class="psf" href="?view=day&amp;cal=###CAL###&amp;getdate=###GETDATE###"><!-- ###DAYVIEWLINKTEXT### start--><img src="###IMG_PATH###/day_on.gif" alt="###L_DAY###" border="0" /><!-- ###DAYVIEWLINKTEXT### end--></a></td><!-- ###DAYVIEWLINK### end-->
											<!-- ###WEEKVIEWLINK### start--><td><a class="psf" href="?view=week&amp;cal=###CAL###&amp;getdate=###GETDATE###"><!-- ###WEEKVIEWLINKTEXT### start--><img src="###IMG_PATH###/week_on.gif" alt="###L_WEEK###" border="0" /><!-- ###WEEKVIEWLINKTEXT### end--></a></td><!-- ###WEEKVIEWLINK### end-->
											<!-- ###MONTHVIEWLINK### start--><td><a class="psf" href="?view=month&amp;cal=###CAL###&amp;getdate=###GETDATE###"><!-- ###MONTHVIEWLINKTEXT### start--><img src="###IMG_PATH###/month_on.gif" alt="###L_MONTH###" border="0" /><!-- ###MONTHVIEWLINKTEXT### end--></a></td><!-- ###MONTHVIEWLINK### end-->
											<!-- ###YEARVIEWLINK### start--><td><a class="psf" href="?view=year&amp;cal=###CAL###&amp;getdate=###GETDATE###"><!-- ###YEARVIEWLINKTEXT### start--><img src="###IMG_PATH###/year_on.gif" alt="###L_YEAR###" border="0" /><!-- ###YEARVIEWLINKTEXT### end--></a></td><!-- ###YEARVIEWLINK### end-->
							</tr>
							</table>
							<!-- ###SHOW_ADMINLINK### start -->
								<div style="width:100%,text-align:center">###ADMINLINK###</div>
							<!-- ###SHOW_ADMINLINK### end -->
						</td>
						
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<br />
	<table border="0" width="670" cellspacing="0" cellpadding="0">
		<tr>
			<td width="210" valign="top" align="left">
				###MONTH_MEDIUM|01###
			</td>
			<td width="20">
				<img src="###IMG_PATH###/spacer.gif" width="20" height="1" alt=" " />
			</td>
			<td width="210" valign="top" align="left">
				###MONTH_MEDIUM|02###
			</td>
			<td width="20">
				<img src="###IMG_PATH###/spacer.gif" width="20" height="1" alt=" " />
			</td>
			<td width="210" valign="top" align="left">
				###MONTH_MEDIUM|03###
			</td>
		</tr>
		<tr>
			<td colspan="5">
				<img src="###IMG_PATH###/spacer.gif" width="1" height="20" alt=" " />
			</td>
		</tr>
		<tr>
			<td width="210" valign="top" align="left">
				###MONTH_MEDIUM|04###
			</td>
			<td width="20">
				<img src="###IMG_PATH###/spacer.gif" width="20" height="1" alt=" " />
			</td>
			<td width="210" valign="top" align="left">
				###MONTH_MEDIUM|05###
			</td>
			<td width="20">
				<img src="###IMG_PATH###/spacer.gif" width="20" height="1" alt=" " />
			</td>
			<td width="210" valign="top" align="left">
				###MONTH_MEDIUM|06###
			</td>
		</tr>
		<tr>
			<td colspan="5">
				<img src="###IMG_PATH###/spacer.gif" width="1" height="20" alt=" " />
			</td>
		</tr>
		<tr>
			<td width="210" valign="top" align="left">
				###MONTH_MEDIUM|07###
			</td>
			<td width="20">
				<img src="###IMG_PATH###/spacer.gif" width="20" height="1" alt=" " />
			</td>
			<td width="210" valign="top" align="left">
				###MONTH_MEDIUM|08###
			</td>
			<td width="20">
				<img src="###IMG_PATH###/spacer.gif" width="20" height="1" alt=" " />
			</td>
			<td width="210" valign="top" align="left">
				###MONTH_MEDIUM|09###
			</td>
		</tr>
		<tr>
			<td colspan="5">
				<img src="fileadmin/_temp_/spacer.gif" width="1" height="20" alt=" " />
			</td>
		</tr>
		<tr>
			<td width="210" valign="top" align="left">
				###MONTH_MEDIUM|10###
			</td>
			<td width="20">
				<img src="fileadmin/_temp_/spacer.gif" width="20" height="1" alt=" " />
			</td>
			<td width="210" valign="top" align="left">
				###MONTH_MEDIUM|11###
			</td>
			<td width="20">
				<img src="###IMG_PATH###/spacer.gif" width="20" height="1" alt=" " />
			</td>
			<td width="210" valign="top" align="left">
				###MONTH_MEDIUM|12###
			</td>
		</tr>
	</table>
	<!-- ###SHOW_ICSLINK### start -->
		<div style="width:100%,text-align:center">###ICSLINK###</div>
	<!-- ###SHOW_ICSLINK### end -->
</center>
<!--/year.tmpl-->