<html>
<head>
</head>
<body>
<h1>newLargeMonth.tmpl</h1>
<!-- ###YEAR_SUBPART### start-->
<h2>###YEAR###</h2>
<p>###MONTHS###</p>
<!-- ###YEAR_SUBPART### end -->

<!-- ###MONTH_SUBPART### start-->
<table class="month-large" style="clear: both;">###WEEKDAYS###<tbody>###WEEKS###</tbody></table>
<!-- ###MONTH_SUBPART### end -->

<!-- ###MONTH_WEEKDAYS_SUBPART### start -->
<thead><tr><th class="month-weeknums monthCorner"/><th class="weekday">###MONDAY###</th><th class="weekday">###TUESDAY###</th><th class="weekday">###WEDNESDAY###</th><th class="weekday">###THURSDAY###</th><th class="weekday">###FRIDAY###</th><th class="weekday">###SATURDAY###</th><th class="weekday">###SUNDAY###</th></tr></thead>
<!-- ###MONTH_WEEKDAYS_SUBPART### end -->

<!-- ###SUNDAY_MONTH_WEEKDAYS_SUBPART### start -->
<thead><tr><th class="month-weeknums monthCorner"/><th class="weekday">###SUNDAY###</th><th class="weekday">###MONDAY###</th><th class="weekday">###TUESDAY###</th><th class="weekday">###WEDNESDAY###</th><th class="weekday">###THURSDAY###</th><th class="weekday">###FRIDAY###</th><th class="weekday">###SATURDAY###</th></tr></thead>
<!-- ###SUNDAY_MONTH_WEEKDAYS_SUBPART### end -->

<!-- ###WEEK_SUBPART### start-->
<tr class="days ###WEEK_CLASSES###"><th class="month-weeknums" rowspan="###ROWSPAN###">###WEEK_LINK###</th><td class="dayNum###CLASSES0###">###DAYNUM0###</td><td class="dayNum###CLASSES1###">###DAYNUM1###</td><td class="dayNum###CLASSES2###">###DAYNUM2###</td><td class="dayNum###CLASSES3###">###DAYNUM3###</td><td class="dayNum###CLASSES4###">###DAYNUM4###</td><td class="dayNum###CLASSES5###">###DAYNUM5###</td><td class="dayNum###CLASSES6###">###DAYNUM6###</td></tr>
###ALLDAYS###
<tr class="days ###WEEK_CLASSES###">###DAYS###</tr>
<!-- ###WEEK_SUBPART### end -->

<!-- ###SUNDAY_WEEK_SUBPART### start-->
<tr class="days ###WEEK_CLASSES###"><th class="month-weeknums" rowspan="###ROWSPAN###">###WEEK_LINK###</th><td class="dayNum###CLASSES0###">###DAYNUM0###</td><td class="dayNum###CLASSES1###">###DAYNUM1###</td><td class="dayNum###CLASSES2###">###DAYNUM2###</td><td class="dayNum###CLASSES3###">###DAYNUM3###</td><td class="dayNum###CLASSES4###">###DAYNUM4###</td><td class="dayNum###CLASSES5###">###DAYNUM5###</td><td class="dayNum###CLASSES6###">###DAYNUM6###</td></tr>
###ALLDAYS###
<tr class="days ###WEEK_CLASSES###">###DAYS###</tr>
<!-- ###SUNDAY_WEEK_SUBPART### end -->

</body>
</html>