<!--week.tmpl-->
<div class="header-buttons" >
	<div class="year-button">
	<!-- ###YEARVIEWLINK### start-->
		<!-- ###YEARVIEWLINKTEXT### start-->
		###L_YEAR###
		<!-- ###YEARVIEWLINKTEXT### end-->
	<!-- ###YEARVIEWLINK### end-->
	</div>
	<div class="month-button">
	<!-- ###MONTHVIEWLINK### start-->
		<!-- ###MONTHVIEWLINKTEXT### start-->
		###L_MONTH###
		<!-- ###MONTHVIEWLINKTEXT### end-->
	<!-- ###MONTHVIEWLINK### end-->
	</div>
	<div class="week-button">
	<!-- ###WEEKVIEWLINK### start-->
		<!-- ###WEEKVIEWLINKTEXT### start-->
		###L_WEEK###
		<!-- ###WEEKVIEWLINKTEXT### end-->
	<!-- ###WEEKVIEWLINK### end-->
	</div>
	<div class="day-button">
	<!-- ###DAYVIEWLINK### start-->
		<!-- ###DAYVIEWLINKTEXT### start-->
		###L_DAY###
		<!-- ###DAYVIEWLINKTEXT### end-->
	<!-- ###DAYVIEWLINK### end-->
	</div>
	<div class="today-button">###TODAY###</div>
</div>

<br style="clear: both;"/>
<div class="view-header">
	<div class="previous-button">
	<!-- ###PREV_WEEKLINK### start-->
		<!-- ###PREV_WEEKLINKTEXT### start-->
		<img src="###IMG_PATH###/control-180.png" alt="[Previous Week]" />
		<!-- ###PREV_WEEKLINKTEXT### end-->
	<!-- ###PREV_WEEKLINK### end-->
	</div>
	<div class="next-button">
	<!-- ###NEXT_WEEKLINK### start-->
		<!-- ###NEXT_WEEKLINKTEXT### start-->
		<img src="###IMG_PATH###/control.png" alt="[Next Week]" />
		<!-- ###NEXT_WEEKLINKTEXT### end-->
	<!-- ###NEXT_WEEKLINK### end-->
	</div>
	<h1>###DISPLAY_DATE###</h1>
</div>
###WEEK###
<!--/week.tmpl-->