<!-- ###HTML### begin -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<style type="text/css">
###CSS_STYLES###
</style>
<title>###LABEL_V_REGISTRATION_INITIATED_SUBJECT###</title>
<meta http-equiv="Content-Type" content="text/html; charset=###CHARSET###">
<meta name="generator" content="TYPO3 CMS">
</head>
<body>
You want to keep track of this event:
<br/>
<table><tr>
<td>Title:</td><td>###TITLE###</td></tr><tr>
<td>Start:</td><td>###STARTDATE### ###STARTTIME###</td></tr><tr>
<td>End:</td><td>###ENDDATE### ###ENDTIME###</td></tr><tr>
<td>Description:</td><td>###DESCRIPTION###</td></tr><tr>
<td>Location:</td><td>###LOCATION###</td></tr><tr>
<td>Organizer:</td><td>###ORGANIZER###</td>
</tr></table>

Please confirm so: <a href="###CONFIRM_LINK###">Yes, I want to monitor this event</a>
<body>
</html>
<!-- ###HTML### end -->
<!-- ###PLAIN### start -->

You want to keep track of this event:

Title: ###TITLE###
Start: ###STARTDATE### ###STARTTIME###
End: ###ENDDATE### ###ENDTIME###
Description: ###DESCRIPTION###
Location: ###LOCATION###
Organizer: ###ORGANIZER###

Please confirm so: Yes, I want to monitor this event (follow the link) ###CONFIRM_LINK###
<!-- ###PLAIN### end -->