<!--location_model.tmpl-->
<!-- ###TEMPLATE_LOCATION_LOCATION### start -->
<h1>###HEADING###</h1>
###EDIT_LINK###
###NAME###
###DESCRIPTION###
###STREET###
###ZIP###
###CITY###
###COUNTRYZONE###
###COUNTRY###
###PHONE###
###FAX###
###LINK###
###EMAIL###
###IMAGE###
###MAP###
<!-- ###TEMPLATE_LOCATION_LOCATION### end -->
<!-- ###TEMPLATE_LOCATION_SEARCH_LOCATION_ODD### start -->
<!-- ###TEMPLATE_LOCATION_SEARCH_LOCATION_LIST_ODD### start -->
<li class="odd">
	<div class="fn">
		###NAME_LABEL###: <!-- ###LOCATION_LINK### start -->###NAME###<!-- ###LOCATION_LINK### end -->
	</div>
	
	<div class="adr">
		<div class="street-address">###STREET###</div>
		<span class="postal-code">###ZIP###</span>
		<span class="locality">###CITY###</span>
		<span class="region">###COUNTRYZONE###</span>
		<div class="country-name">###COUNTRY###</div>
		###EVENT_LINK###
	</div>
</li>
<!-- ###TEMPLATE_LOCATION_SEARCH_LOCATION_LIST_ODD### end -->
<!-- ###TEMPLATE_LOCATION_SEARCH_LOCATION_ODD### end -->
<!-- ###TEMPLATE_LOCATION_SEARCH_LOCATION_EVEN### start -->
<!-- ###TEMPLATE_LOCATION_SEARCH_LOCATION_LIST_EVEN### start -->
<li class="even">
	<div class="fn">
		###NAME_LABEL###: <!-- ###LOCATION_LINK### start -->###NAME###<!-- ###LOCATION_LINK### end -->
	</div>
	
	<div class="adr">
		<div class="street-address">###STREET###</div>
		<span class="postal-code">###ZIP###</span>
		<span class="locality">###CITY###</span>
		<span class="region">###COUNTRYZONE###</span>
		<div class="country-name">###COUNTRY###</div>
		###EVENT_LINK###
	</div>
</li>

<!-- ###TEMPLATE_LOCATION_SEARCH_LOCATION_LIST_EVEN### end -->
<!-- ###TEMPLATE_LOCATION_SEARCH_LOCATION_EVEN### end -->
<!-- ###TEMPLATE_LOCATION_SEARCH_ALL_ODD### start -->
<li class="odd">
	<div class="fn">
		###NAME_LABEL###: <!-- ###LOCATION_LINK### start -->###NAME###<!-- ###LOCATION_LINK### end -->
	</div>
	
	<div class="adr">
		<div class="street-address">###STREET###</div>
		<span class="postal-code">###ZIP###</span>
		<span class="locality">###CITY###</span>
		<span class="region">###COUNTRYZONE###</span>
		<div class="country-name">###COUNTRY###</div>
	</div>
</li>
<!-- ###TEMPLATE_LOCATION_SEARCH_ALL_ODD### end -->
<!-- ###TEMPLATE_LOCATION_SEARCH_ALL_EVEN### start -->
<li class="even">
	<div class="fn">
		###NAME_LABEL###: <!-- ###LOCATION_LINK### start -->###NAME###<!-- ###LOCATION_LINK### end -->
	</div>
	
	<div class="adr">
		<div class="street-address">###STREET###</div>
		<span class="postal-code">###ZIP###</span>
		<span class="locality">###CITY###</span>
		<span class="region">###COUNTRYZONE###</span>
		<div class="country-name">###COUNTRY###</div>
	</div>
</li>

<!-- ###TEMPLATE_LOCATION_SEARCH_ALL_EVEN### end -->


<!--/location_model.tmpl-->