<html>
<head>
</head>
<body>
<h1>newyear.tmpl</h1>
<!-- ###YEAR_SUBPART### start-->
<h2>###YEAR###</h2>
<p>###MONTHS###</p>
<!-- ###YEAR_SUBPART### end -->

<!-- ###MONTH_SUBPART### start-->
<table class="month-small"><thead><tr><th class="sideback" colspan="8">###MONTH_TITLE###</th></tr>###WEEKDAYS###</thead><tbody>###WEEKS###</tbody></table>
<!-- ###MONTH_SUBPART### end -->

<!-- ###MONTH_WEEKDAYS_SUBPART### start -->
<tr><th class="month-weeknums monthCorner"/><th class="month-weekdays cal_day1">###MONDAY###</th><th class="month-weekdays cal_day2">###TUESDAY###</th><th class="month-weekdays cal_day3">###WEDNESDAY###</th><th class="month-weekdays cal_day4">###THURSDAY###</th><th class="month-weekdays cal_day5">###FRIDAY###</th><th class="month-weekdays cal_day6">###SATURDAY###</th><th class="month-weekdays cal_day7">###SUNDAY###</th></tr>
<!-- ###MONTH_WEEKDAYS_SUBPART### end -->

<!-- ###SUNDAY_MONTH_WEEKDAYS_SUBPART### start -->
<tr><th class="month-weeknums monthCorner"/><th class="month-weekdays cal_day0">###SUNDAY###</th><th class="month-weekdays cal_day1">###MONDAY###</th><th class="month-weekdays cal_day2">###TUESDAY###</th><th class="month-weekdays cal_day3">###WEDNESDAY###</th><th class="month-weekdays cal_day4">###THURSDAY###</th><th class="month-weekdays cal_day5">###FRIDAY###</th><th class="month-weekdays cal_day6">###SATURDAY###</th></tr>
<!-- ###SUNDAY_MONTH_WEEKDAYS_SUBPART### end -->

<!-- ###WEEK_SUBPART### start-->
<tr class="###WEEK_CLASSES###"><th class="month-weeknums">###WEEK_LINK###</th><td class="dayNum###CLASSES1###">###DAYNUM0###</td><td class="dayNum###CLASSES2###">###DAYNUM1###</td><td class="dayNum###CLASSES3###">###DAYNUM2###</td><td class="dayNum###CLASSES4###">###DAYNUM3###</td><td class="dayNum###CLASSES5###">###DAYNUM4###</td><td class="dayNum###CLASSES6###">###DAYNUM5###</td><td class="dayNum###CLASSES0###">###DAYNUM6###</td></tr>
<!-- ###WEEK_SUBPART### end -->

<!-- ###SUNDAY_WEEK_SUBPART### start-->
<tr class="###WEEK_CLASSES###"><th class="month-weeknums">###WEEK_LINK###</th><td class="dayNum###CLASSES0###">###DAYNUM0###</td><td class="dayNum###CLASSES1###">###DAYNUM1###</td><td class="dayNum###CLASSES2###">###DAYNUM2###</td><td class="dayNum###CLASSES3###">###DAYNUM3###</td><td class="dayNum###CLASSES4###">###DAYNUM4###</td><td class="dayNum###CLASSES5###">###DAYNUM5###</td><td class="dayNum###CLASSES6###">###DAYNUM6###</td></tr>
<!-- ###SUNDAY_WEEK_SUBPART### end -->

</body>
</html>