<!--organizer.tmpl-->
<!--###TEMPLATE_ORGANIZER_ORGANIZER### begin -->
<h1>###HEADING###</h1>
###EDIT_LINK###
###NAME###
###DESCRIPTION###
###STREET###
###ZIP###
###CITY###
###COUNTRYZONE###
###COUNTRY###
###PHONE###
###FAX###
###LINK###
###EMAIL###
###IMAGE###
###MAP###
<!--###TEMPLATE_ORGANIZER_ORGANIZER### end -->
<!-- ###TEMPLATE_ORGANIZER_SEARCH_ORGANIZER_LIST_ODD### start -->
<li class="odd">
	<div class="vcard">
		<div class="fn">
			###NAME_LABEL###: <!-- ###ORGANIZER_LINK### start -->###NAME###<!-- ###ORGANIZER_LINK### end -->
		</div>
	
		<div class="adr">
			<div class="street-address">###STREET###</div>
			<span class="postal-code">###ZIP###</span>
			<span class="locality">###CITY###</span>
			<span class="region">###COUNTRYZONE###</span>
			<div class="country-name">###COUNTRY###</div>
			###EVENT_LINK###
		</div>
	</div>
</li>
<!-- ###TEMPLATE_ORGANIZER_SEARCH_ORGANIZER_LIST_ODD### end -->

<!-- ###TEMPLATE_ORGANIZER_SEARCH_ORGANIZER_LIST_EVEN### start -->
<li class="even">
	<div class="vcard">
		<div class="fn">
			###NAME_LABEL###: <!-- ###ORGANIZER_LINK### start -->###NAME###<!-- ###ORGANIZER_LINK### end -->
		</div>
		
		<div class="adr">
			<div class="street-address">###STREET###</div>
			<span class="postal-code">###ZIP###</span>
			<span class="locality">###CITY###</span>
			<span class="region">###COUNTRYZONE###</span>
			<div class="country-name">###COUNTRY###</div>
			###EVENT_LINK###
		</div>
	</div>
</li>
<!-- ###TEMPLATE_ORGANIZER_SEARCH_ORGANIZER_LIST_EVEN### end -->
<!-- ###TEMPLATE_ORGANIZER_SEARCH_ALL_LIST_ODD### start -->
<li class="odd">
	<div class="vcard">
		<div class="fn">
			###NAME_LABEL###: <!-- ###ORGANIZER_LINK### start -->###NAME###<!-- ###ORGANIZER_LINK### end -->
		</div>
	
		<div class="adr">
			<div class="street-address">###STREET###</div>
			<span class="postal-code">###ZIP###</span>
			<span class="locality">###CITY###</span>
			<span class="region">###COUNTRYZONE###</span>
			<div class="country-name">###COUNTRY###</div>
			###EVENT_LINK###
		</div>
	</div>
</li>
<!-- ###TEMPLATE_ORGANIZER_SEARCH_ALL_LIST_ODD### end -->

<!-- ###TEMPLATE_ORGANIZER_SEARCH_ALL_LIST_EVEN### start -->
<li class="even">
	<div class="vcard">
		<div class="fn">
			###NAME_LABEL###: <!-- ###ORGANIZER_LINK### start -->###NAME###<!-- ###ORGANIZER_LINK### end -->
		</div>
		
		<div class="adr">
			<div class="street-address">###STREET###</div>
			<span class="postal-code">###ZIP###</span>
			<span class="locality">###CITY###</span>
			<span class="region">###COUNTRYZONE###</span>
			<div class="country-name">###COUNTRY###</div>
			###EVENT_LINK###
		</div>
	</div>
</li>
<!-- ###TEMPLATE_ORGANIZER_SEARCH_ALL_LIST_EVEN### end -->
<!--/organizer.tmpl-->