<!--search_box.tmpl-->
<table width="171" border="0" cellpadding="0" cellspacing="0" class="calborder">
	<tr>
		<td align="center" class="sideback"><div style="height: 17px; margin-top: 3px;" class="G10BOLD">###SEARCH_LABEL###</div></td>
	</tr>
	<tr>
		<td bgcolor="#FFFFFF" align="left">
			<div style="padding: 5px;">
				<form style="margin-bottom:0px" action="###SEARCH_ACTION_URL###" method="post">
					<input type="hidden" name="tx_cal_controller[getdate]" value="###GETDATE###" />
					<input type="hidden" size="15" name="tx_cal_controller[view]" value="search_event" />
					<input type="hidden" size="15" name="tx_cal_controller[lastview]" value="###LASTVIEW###" />	   
					<input type="text" size="15" name="tx_cal_controller[query]" value="" />
					<input type="image" src="###IMG_PATH###/search.gif" style="border-width:0px; height:19px; width:18px;" name="tx_cal_controller[submit]" title="###DOSEARCH_LABEL###" value="###L_DOSEARCH###" />
				</form>
			</div>
		</td>
	</tr>
	
</table>
<table width="170" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="tbll"><img src="###IMG_PATH###/spacer.gif" alt="" width="8" height="4" /></td>
		<td class="tblbot"><img src="###IMG_PATH###/spacer.gif" alt="" width="8" height="4" /></td>
		<td class="tblr"><img src="###IMG_PATH###/spacer.gif" alt="" width="8" height="4" /></td>
	</tr>
</table>
<!--/search_box.tmpl-->