<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Calendar todo example template</title>
</head>

<body>

<h1>CALENDAR TODO TEMPLATE</h1>
<h2>EXAMPLE</h2>

<br />
<pre>

<strong>Common markers:</strong>
These are substituted in all templates:

<em>Markers:</em>

EDIT_LINK - According to the rights the edit and/or delete icon will be displayed
TITLE - The event title
STARTDATE - The startdate of the event parsed through "view.{view}.startdate_stdWrap" or if not available through "view.{view}.dateFormat"
ENDDATE - The enddate of the event parsed through "view.{view}.enddate_stdWrap" or if not available through "view.{view}.dateFormat"
STARTTIME - The starttime of the event parsed through "view.{view}.starttime_stdWrap" or if not available through "view.{view}.timeFormat"
ENDTIME - The endtime of the event parsed through "view.{view}.endtime_stdWrap" or if not available through "view.{view}.timeFormat"
ORGANIZER - The event organizer parsed through "view.{view}.organizer_stdWrap" if available or a link to the organizer-view if in allowedViews or view.organizer.organizerViewPid has been set
LOCATION - The event location parsed through "view.{view}.location_stdWrap" if available or a link to the location-view if in allowedViews or view.location.locationViewPid has been set
DESCRIPTION - The event description parsed through "view.{view}.description_stdWrap"
DESCRIPTION_STRIPTAGS - The event description parsed through "view.{view}.description_stdWrap" and being stipped of all tags afterwards
IMAGE - The event image(s) wrapped by "view.event.image_stdWrap",
ATTACHMENT - The event attachment: File wrapped by "view.event.attachment_stdWrap.wrap", "view.event.attachmentHeader_stdWrap" and "view.event.attachment"
MORE_LINK - Link to the 'full' event-view if the current view is a preview
<br />
Further markers are possible, condition: the markername has to be the same as a field in tx_cal_event. E.g. UID or PID. An according stdWrap can also be used: view.{view}.uid_stdWrap or view.{view}.pid_stdWrap


<em>Event Language Markers (see controller/locallang.xml):</em>
HEADING - The heading of the page -> l_event
TITLE_LABEL - The title label -> l_event_title
STARTDATE_LABEL - The startdate label -> l_event_startdate
ENDDATE_LABEL - The enddate label -> l_event_enddate
STARTTIME_LABEL - The startdate label -> l_event_starttime
ENDTIME_LABEL - The endtime label -> l_event_endtime
ORGANIZER_LABEL - The organizer label -> l_event_organizer
LOCATION_LABEL - The location label -> l_event_location
DESCRIPTION_LABEL - The description label -> l_event_description
ATTACHMENT_LABEL - The attachment label -> l_event_attachment
<br />
Further markers are possible, condition: the markername has to end with "_LABEL". E.g. PID_LABEL will be replaced by l_event_pid form the controller/locallang.xml


<em>Subparts:</em>

</pre>


<br /><br /><br /><br /><hr />
<br />
<h3>TEMPLATE_TODO</h3>
<em>This is the template for the standard calendar todo.</em>
<br />
<br />
<br />
<br />




<!--###TEMPLATE_TODO### begin -->
<!--todo.tmpl-->
<h1>###HEADING###</h1>
###EDIT_LINK###
###TITLE###
###STARTDATE###
###ENDDATE###
###STARTTIME###
###ENDTIME###
###STATUS### ###PRIORITY### ###COMPLETED###
###ORGANIZER###
###LOCATION###
###DESCRIPTION###
###IMAGE###
###ATTACHMENT###
###ATTENDEE###
<!-- ###ICS_LINK### start --><img src="###IMG_PATH###/ics.gif" border="0"/><!-- ###ICS_LINK### end -->
###MORE_LINK###

<!--/todo.tmpl-->
<!--###TEMPLATE_TODO### end -->

<!--###TEMPLATE_TODO_DAY### begin -->
		<div style="top: ###TOP###px; left: ***LEFT***%; width: ***WIDTH***%;" class="vtodo ###HEADERSTYLE###">
		  <!-- ###EVENT_LINK### start -->
              <dl style="height: ###LENGTH###px;">
                <dt title="###MICROFORMAT_START###" class="dtstart">###STARTTIME###-###ENDTIME###</dt>
                <dd>
                  <span class="summary">###TITLE### ###COMPLETED###</span>
                </dd>
              </dl>
            <!-- ###EVENT_LINK### end -->
        </div>
<!--###TEMPLATE_TODO_DAY### end -->

<!--###TEMPLATE_TODO_DAY_ALLDAY### begin -->
			<td>
				<div class="vtodo">
				<!-- ###EVENT_LINK### start -->
					<div class="###HEADERSTYLE###_allday">
						<span class="summary">###TITLE###</span>
						###FREQ###
					</div>
				<!-- ###EVENT_LINK### end -->
				</div>
			</td>
<!--###TEMPLATE_TODO_DAY_ALLDAY### end -->

<!--###TEMPLATE_TODO_WEEK### begin -->
        <div style="top: ###TOP###px; left: ***LEFT***%; width: ***WIDTH***%;" class="vtodo ###HEADERSTYLE###">
        <!-- ###EVENT_LINK### start -->
          <dl style="height: ###LENGTH###px;">
            <dt title="###MICROFORMAT_START###" class="dtstart">###STARTTIME###</dt>
            <dd>
              <span class="summary">###TITLE###</span>
            </dd>
          </dl>
          <!-- ###EVENT_LINK### end -->
        </div>
<!--###TEMPLATE_TODO_WEEK### end -->

<!--###TEMPLATE_TODO_WEEK_ALLDAY### begin -->
			<div class="vtodo>
				<!-- ###EVENT_LINK### start -->
				 <div class="###HEADERSTYLE###_allday">
					<span class="summary">###TITLE###</span>
					###FREQ###
				</div>
				<!-- ###EVENT_LINK### end -->
			</div>
<!--###TEMPLATE_TODO_WEEK_ALLDAY### end -->


<!--###TEMPLATE_TODO_MONTH### begin -->
		<div class="vtodo" id="cal_event_###UID###">
			<!-- ###EVENT_LINK### start -->
			<span class="###HEADERSTYLE###_text">
					<span title="###MICROFORMAT_START###" class="dtstart">###STARTTIME###</span>
					<span class="summary">###TITLE###</span>
			</span>
			###EDIT_LINK###
			<!-- ###EVENT_LINK### end -->
<!--###TEMPLATE_TODO_MONTH### end -->

<!--###TEMPLATE_TODO_MONTH_ALLDAY### begin -->
		<div class="vtodo ###HEADERSTYLE###_allday" id="cal_event_###UID###">
			<!-- ###EVENT_LINK### start -->
				<span class="###HEADERSTYLE###_text">
					<span class="popup">
						<span title="###MICROFORMAT_START###" class="dtstart">###STARTDATE###</span>
					</span>
					<span class="summary">###TITLE###</span>
				###FREQ###
				</span>
			<!-- ###EVENT_LINK### end -->
			###EDIT_LINK###
<!--###TEMPLATE_TODO_MONTH_ALLDAY### end -->

<!--###TEMPLATE_TODO_MONTH_MINI### begin -->
<span class="###HEADERSTYLE###_bullet" title="###STARTTIME######TITLE###">&bull;</span>
<!--###TEMPLATE_TODO_MONTH_MINI### end -->

<!--###TEMPLATE_TODO_MONTH_MINI_ALLDAY### begin -->
<span class="###HEADERSTYLE###_bullet" title="###STARTTIME######TITLE###">&bull;</span>
<!--###TEMPLATE_TODO_MONTH_MINI_ALLDAY### end -->

<!--###TEMPLATE_TODO_YEAR### begin -->
<li>###TITLE###</li>
<!--###TEMPLATE_TODO_YEAR### end -->

<!--###TEMPLATE_TODO_PREVIEW### begin -->
<h1>###HEADING###</h1>
###EDIT_LINK###

###TITLE###
###STARTDATE###
###ENDDATE###
###STARTTIME###
###ENDTIME###
###DESCRIPTION###
###MORE_LINK###

<!--###TEMPLATE_TODO_PREVIEW### end -->

<!--###TEMPLATE_TODO_TOMORROW### begin -->
<div class="V9"><span class="###HEADERSTYLE###_bullet ###HEADERSTYLE###_legend_bullet">&bull;</span><span class="###HEADERSTYLE###_text ###HEADERSTYLE###_legend_text">###TITLE###</span></div>
<!--###TEMPLATE_TODO_TOMORROW### end -->

<!--###TEMPLATE_TODO_ORGANIZER### begin -->
<br />###STARTDATE### <!-- ###EVENT_LINK### start -->###TITLE###<!-- ###EVENT_LINK### end -->
<!--###TEMPLATE_TODO_ORGANIZER### end -->

<!--###TEMPLATE_TODO_LOCATION### begin -->
<br />###STARTDATE### <!-- ###EVENT_LINK### start -->###TITLE###<!-- ###EVENT_LINK### end -->
<!--###TEMPLATE_TODO_LOCATION### end -->

<!-- ###TEMPLATE_TODO_LIST_ODD### start -->
	<dt class="vtodo">
		<div class="dtstart-container"><abbr title="###MICROFORMAT_START###" class="dtstart">###STARTDATE### ###STARTTIME###</abbr></div>
		<div class="summary"><!-- ###EVENT_LINK### start-->###TITLE###<!-- ###EVENT_LINK### end--></div>
	</dt>
<!-- ###TEMPLATE_TODO_LIST_ODD### end -->
<!-- ###TEMPLATE_TODO_LIST_EVEN### start -->
	<dt class="vtodo even">
		<div class="dtstart-container"><abbr title="###MICROFORMAT_START###" class="dtstart">###STARTDATE### ###STARTTIME###</abbr></div>
		<div class="summary"><!-- ###EVENT_LINK### start-->###TITLE###<!-- ###EVENT_LINK### end--></div>
	</dt>
<!-- ###TEMPLATE_TODO_LIST_EVEN### end -->

<!-- ###TEMPLATE_TODO_LIST_ODD_ALLDAY### start -->
	<dt class="vtodo">
		<div class="dtstart-container"><abbr title="###MICROFORMAT_START###" class="dtstart">###STARTDATE###</abbr></div>
		<div class="summary"><!-- ###EVENT_LINK### start-->###TITLE###<!-- ###EVENT_LINK### end--></div>
	</dt>
<!-- ###TEMPLATE_TODO_LIST_ODD_ALLDAY### end -->
<!-- ###TEMPLATE_TODO_LIST_EVEN_ALLDAY### start -->
	<dt class="vtodo even">
		<div class="dtstart-container"><abbr title="###MICROFORMAT_START###" class="dtstart">###STARTDATE###</abbr></div>
		<div class="summary"><!-- ###EVENT_LINK### start-->###TITLE###<!-- ###EVENT_LINK### end--></div>
	</dt>
<!-- ###TEMPLATE_TODO_LIST_EVEN_ALLDAY### end -->

<!-- ###TEMPLATE_TODO_RSS### start -->
		<item>
			<title>###TITLE###</title>
			<link>###EVENT_URL###</link>
			<guid>###GUID###</guid>
			<pubDate>###CRDATE###</pubDate>
			<content:encoded>
			<![CDATA[
				###CATEGORY###
				###STARTDATE### ###STARTTIME###
				###ENDDATE### ###ENDTIME###
				###LOCATION###
				###ORGANIZER###
				###DESCRIPTION### <!-- ###EVENT_LINK### start -->###MORE_LABEL###<!-- ###EVENT_LINK### end -->
			]]>
			</content:encoded>
			<description><![CDATA[
				###CATEGORY###
				###STARTDATE### ###STARTTIME###
				###ENDDATE### ###ENDTIME###
				###LOCATION###
				###ORGANIZER###
				###DESCRIPTION_STRIPTAGS### <!-- ###EVENT_LINK### start -->###MORE_LABEL###<!-- ###EVENT_LINK### end -->
				<hr/>
				]]>
			</description>
		</item>
<!-- ###TEMPLATE_TODO_RSS### end -->

<!-- ###TEMPLATE_TODO_ICS### start -->
BEGIN:VTODO
UID:###GUID###
###DTSTAMP###
###DTSTART_YEAR_MONTH_DAY_HOUR_MINUTE###
###DTEND_YEAR_MONTH_DAY_HOUR_MINUTE###
###CATEGORY###
###TITLE###
###DESCRIPTION###
###LOCATION###
###GEO###
###ATTACHMENT_URL###
###RRULE###
###RDATE###
###EXDATE###
###EXRULE###
###ORGANIZER###
###ATTENDEE###
END:VTODO
<!-- ###TEMPLATE_TODO_ICS### end -->
<!-- ###TEMPLATE_TODO_ICS_ALLDAY### start -->
BEGIN:VEVENT
UID:###GUID###
###DTSTAMP###
###DTSTART_YEAR_MONTH_DAY_HOUR_MINUTE###
###DTEND_YEAR_MONTH_DAY_HOUR_MINUTE###
###CATEGORY###
###TITLE###
###DESCRIPTION###
###LOCATION###
###GEO###
###ATTACHMENT_URL###
###RRULE###
###RDATE###
###EXDATE###
###EXRULE###
###ORGANIZER###
###ATTENDEE###
END:VEVENT
<!-- ###TEMPLATE_TODO_ICS_ALLDAY### end -->
Free And Busy views:

<!--###TEMPLATE_TODO_FNB### begin -->
<!--todo.tmpl-->
###TITLE_FNB###
<!--/todo.tmpl-->
<!--###TEMPLATE_TODO_FNB### end -->

<!--###TEMPLATE_TODO_ALLDAY_FNB### begin -->
<div class="###HEADERSTYLE###_allday">###TITLE_FNB###</div>
<!--###TEMPLATE_TODO_ALLDAY_FNB### end -->

<!--###TEMPLATE_TODO_DAY_FNB### begin -->
c		<div style="top: ###TOP###px; left: ***LEFT***%; width: ***WIDTH***%;" class="vtodo ###HEADERSTYLE###">
		  <!-- ###EVENT_LINK### start -->
              <dl style="height: ###LENGTH###px;">
                <dt title="###MICROFORMAT_START###" class="dtstart">###STARTTIME###-###ENDTIME###</dt>
                <dd>
                  <span class="summary">###TITLE### ###COMPLETED###</span>
                </dd>
              </dl>
            <!-- ###EVENT_LINK### end -->
        </div>
<!--###TEMPLATE_TODO_DAY_FNB### end -->

<!--###TEMPLATE_TODO_WEEK_FNB### begin -->
        <div style="top: ###TOP###px; left: ***LEFT***%; width: ***WIDTH***%;" class="vtodo ###HEADERSTYLE###">
        <!-- ###EVENT_LINK### start -->
          <dl style="height: ###LENGTH###px;">
            <dt title="###MICROFORMAT_START###" class="dtstart">###STARTTIME###</dt>
            <dd>
              <span class="summary">###TITLE###</span>
            </dd>
          </dl>
          <!-- ###EVENT_LINK### end -->
        </div>
<!--###TEMPLATE_TODO_WEEK_FNB### end -->

<!--###TEMPLATE_TODO_MONTH_FNB### begin -->
		<div class="vtodo" id="cal_event_###UID###">
			<!-- ###EVENT_LINK### start -->
			<span class="###HEADERSTYLE###_text">
					<span title="###MICROFORMAT_START###" class="dtstart">###STARTTIME###</span>
					<span class="summary">###TITLE###</span>
			</span>
			###EDIT_LINK###
			<!-- ###EVENT_LINK### end -->        
<!--###TEMPLATE_TODO_MONTH_FNB### end -->

<!--###TEMPLATE_TODO_MONTH_ALLDAY_FNB### begin -->
<div class="V9"><span class="###HEADERSTYLE###_bullet">&bull;</span><span class="###HEADERSTYLE###_text">###TITLE_FNB###</span></div>
<!--###TEMPLATE_TODO_MONTH_ALLDAY_FNB### end -->

<!--###TEMPLATE_TODO_YEAR_FNB### begin -->
<li>###TITLE_FNB###</li>
<!--###TEMPLATE_TODO_YEAR_FNB### end -->

</body>
</html>