<!--create_calendar.tmpl-->
<!-- ###FORM_START### begin-->
<h1>###L_CREATE_CALENDAR###</h1>
###CURRENT_TRANSLATION###
###TRANSLATION_OPTIONS###
<form name="tx_cal_controller" method="post" action="###ACTION_URL###">
	<fieldset class="noborder">
		<input type="hidden" name="tx_cal_controller[type]" value="###TYPE###" />
		<input type="hidden" name="tx_cal_controller[uid]" value="###UID###" />
	
		<!-- ###FORM_START### end-->
			<script type="text/javascript">
			function typeChanged(element){
				var index = element.options[element.selectedIndex].value;
				switch(index){
					case "0":
						try{
							document.getElementById('exturl').style.display = 'none';
						}catch(e1){}
						try{
							document.getElementById('ics_fileUpload').style.display = 'none';
						}catch(e2){}
						try{
							document.getElementById('ics_file_entry').style.display = 'none';
						}catch(e3){}
						try{
							document.getElementById('refresh').style.display = 'none';
						}catch(e4){}
						break;
					case "1":
						try{
							document.getElementById('exturl').style.display = '';
						}catch(e){}
						try{
							document.getElementById('ics_fileUpload').style.display = 'none';
						}catch(e){}
						try{
							document.getElementById('ics_file_entry').style.display = 'none';
						}catch(e){}
						try{
							document.getElementById('refresh').style.display = '';
						}catch(e){}
						break;
					case "2":
						try{
							document.getElementById('exturl').style.display = 'none';
						}catch(e){}
						try{
							document.getElementById('ics_fileUpload').style.display = '';
						}catch(e){}
						try{
							document.getElementById('ics_file_entry').style.display = '';
						}catch(e){}
						try{
							document.getElementById('refresh').style.display = '';
						}catch(e){}
						break;
				}
			}
			</script>
			###HIDDEN###
			###CALENDARTYPE###
			###TITLE###
			###OWNER###
			###ACTIVATE_FREEANDBUSY###
			###FREEANDBUSYUSER###
			###EXTURL###
			###ICS_FILE###
			###REFRESH###
		<!-- ###FORM_END### begin-->
		
		<input type="button" value="###L_CANCEL###" onclick="location.href='###BACK_LINK###'; return false;" />
		<input type="submit" value="###L_SAVE###" />
	</fieldset>
</form>
###REQUIRED_LABEL###
<script type="text/javascript">
	typeChanged(document.getElementById('calendarType'));
</script>
<!-- ###FORM_END### end-->
<!--/create_calendar.tmpl-->