<!-- ###HTML### begin -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<style type="text/css">
###CSS_STYLES###
</style>
<title>###LABEL_V_REGISTRATION_INITIATED_SUBJECT###</title>
<meta http-equiv="Content-Type" content="text/html; charset=###CHARSET###">
<meta name="generator" content="TYPO3 CMS">
</head>
<body>
<!-- ###NEW_EVENT### start -->
###TITLE###
###STARTDATE###
###ENDDATE###
###STARTTIME###
###ENDTIME###
###ORGANIZER###
###LOCATION###
###DESCRIPTION###
<!-- ###NEW_EVENT### end -->

There is an iCalendar file with further information attached to this email.
If your email-client supports ics attachments, you can use it to create a local entry of the meeting.
If not, please use one of the following links to accept or decline:

<a href="###ACCEPT_LINK###">Accept the meeting</a>

<a href="###DECLINE_LINK###">Decline the meeting</a>
<body>
</html>
<!-- ###HTML### end -->
<!-- ###PLAIN### start -->
<!-- ###OLD_EVENT### start -->
The meeting "###TITLE###" has been rescheduled:
<!-- ###OLD_EVENT### end -->
<!-- ###NEW_EVENT### start -->
###TITLE###
###STARTDATE###
###ENDDATE###
###STARTTIME###
###ENDTIME###
###ORGANIZER###
###LOCATION###
###DESCRIPTION###
<!-- ###NEW_EVENT### end -->

There is an iCalendar file with further information attached to this email.
If your email-client supports ics attachments, you can use it to create a local entry of the meeting.
If not, please use one of the following links to accept or decline:

Accept the meeting:
###ACCEPT_LINK###

Decline the meeting:
###DECLINE_LINK###

<!-- ###PLAIN### end -->