<!-- ###HTML### begin -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<style type="text/css">
###CSS_STYLES###
</style>
<title>###LABEL_V_REGISTRATION_INITIATED_SUBJECT###</title>
<meta http-equiv="Content-Type" content="text/html; charset=###CHARSET###">
<meta name="generator" content="TYPO3 CMS">
</head>
<body>
This event has changed (old->new)
<table><tr><td>
<!-- ###OLD_EVENT### start -->
###TITLE###
###STARTDATE###
###ENDDATE###
###STARTTIME###
###ENDTIME###
###ORGANIZER###
###LOCATION###
###DESCRIPTION###
<!-- ###OLD_EVENT### end -->
</td><td>
<!-- ###NEW_EVENT### start -->
###TITLE###
###STARTDATE###
###ENDDATE###
###STARTTIME###
###ENDTIME###
###ORGANIZER###
###LOCATION###
###DESCRIPTION###
<!-- ###NEW_EVENT### end -->
</td></tr></table>
<a href="###UNSUBSCRIBE_LINK###">unsubscribe this event</a>
<body>
</html>
<!-- ###HTML### end -->
<!-- ###PLAIN### start -->
<!-- ###OLD_EVENT### start -->
###TITLE###
###STARTDATE### ###STARTTIME###
###ENDDATE### ###ENDTIME###
###DESCRIPTION###
###LOCATION###
###ORGANIZER###

<!-- ###OLD_EVENT### end -->

Has been changed to:

<!-- ###NEW_EVENT### start -->
###TITLE###
###STARTDATE### ###STARTTIME###
###ENDDATE### ###ENDTIME###
###DESCRIPTION###
###LOCATION###
###ORGANIZER###
<!-- ###NEW_EVENT### end -->

unsubscribe this event: ###UNSUBSCRIBE_LINK###
<!-- ###PLAIN### end -->