<!--organizer.tmpl-->
<h1>###HEADING###</h1>
###EDIT_LINK###
###NAME###
###DESCRIPTION###
###STREET###
###ZIP###
###CITY###
###COUNTRYZONE###
###COUNTRY###
###PHONE###
###LINK###
###EMAIL###
###IMAGE###
###MAP###
###EVENT_LINK###
<!--/organizer.tmpl-->